<%- include("partials/header"); -%>

<h1>All Toppers</h1>
<ul>
  <% allToppers.forEach(topper => { %>
    <li><a href="/upsc-topper/<%= encodeURIComponent(topper.Name) %>"><%= topper.Name %></a></li>
  <% }); %>
</ul>


<%- include("partials/footer"); -%>
