<%- include("partials/header"); -%>
  
        <div class="inside-boxx">
            <h3>Use email ( ngawanglm07@gmail.com ) and password ( ngawang ) to log in</h3>
            <form action="/check" method="post">
                <input type="email" name="email" placeholder="enter your email">
               <input type="password" name="password" placeholder="enter your password">
                <button type="submit"> check </button>
            </form>

       </div>
   
   <%- include("partials/footer"); -%>